/*Will able to everything as a default*/
body{

}

/*IDs in css begin with a hashtag*/
#c1header{
    width: 500px;
    height: 300px;
    background-color: grey;
}
#c1s1{
    height: 100px;
    width:500px;
    background-color: pink;
}
#c1s2{
    height: 100px;
    width: 500px;
    background-color: yellowgreen;

}
#c1s3{
    height: 100px;
    width: 500px;
    background-color: maroon;
}

#c1footer{
    width: 500px;
    height: 300px;
    background-color: black;
    
}
#c2header{
    width: 100%;
    height: 100px;
    background-color: gray;
}






#c2footer{
    width: 100%;
    height: 100px;
    background-color: black;
}




/*CLASSES in css begin with a dot*/

