/*Will able to everything as a default*/
body{

}

/*IDs in css begin with a hashtag*/
#c1header{
    width: 500px;
    height: 300px;
    background-color: grey;
    
}
#c1s1{
    height: 100px;
    width:500px;
    background-color: pink;
}
#c1s2{
    height: 100px;
    width: 500px;
    background-color: yellowgreen;

}
#c1s3{
    height: 100px;
    width: 500px;
    background-color: maroon;
}

#c1footer{
    width: 500px;
    height: 300px;
    background-color: black;
    
}


#c2header{
    width: 100%;
    height: 100px;
    background-color: gray;
    float: left;

}



#c2footer{
    width: 100%;
    height: 100px;
    background-color: black;
    float: left;
}

.c3article{
    width: 400px;
    padding: 8px;
    border: 8px solid black;
    border-radius: 4px;
}


/*CLASSES in css begin with a dot*/
.classname{

}
.red{
    background-color: red;
    height: 200px;
}
.blue{
    background-color: blue;
    height: 200px;
}
.fifty{
    width: 50%;
    float: left;
}
#twenty-five{
    width: 25%;
    float: left;
}
#seventy-five{
    width: 75%;
    float: left;
}
#sixty-six{
    width: 66.66%;
    float: left;
}
#thirty-three{
    width: 33.33%;
    float: left;
}
.c3margin{
    margin: 10px;
}
.c3imgWidth{
    width: 400px;
}

